name: build-test-publish

on:
  push:
    branches:
      - main

jobs:
  build-test-publish:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 8.0.x

    - name: Restore dependencies
      run: dotnet restore HolaMnddoApp/HolaMnddoApp.csproj

    - name: Build project
      run: dotnet build HolaMnddoApp/HolaMnddoApp.csproj --no-restore

    - name: Run unit tests
      run: dotnet test HolaMnddoApp.Tests/HolaMnddoApp.Tests.csproj --no-build --verbosity normal

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build Docker image
      run: docker build -t reynaldogj/hola-mundo-csharP:latest HolaMnddoApp/

    - name: Push Docker image
      run: docker push reynaldogj/hola-mundo-csharP:latest

    - name: Notify deployment service
      run: echo "Deployment completed!"


